**Python Variables**

In [21]:
val1 =10
val2= 20.5

print(val1,val2)

10 20.5

In [6]:
a= 10
b=20.5
c='$'
d="Hello"

print(a,b,c,d,sep="\n")

10
20.5
$
Hello

In [7]:
myStr = "Hello World"

In [8]:
print(myStr)

Hello World

In [9]:
print(myStr[0])

H

In [11]:
print(myStr[2:6])

llo

In [12]:
print(myStr[2:])

llo World

In [15]:
print(myStr * 2)

Hello WorldHello World

In [17]:
print(myStr + " test")

Hello World test

In [20]:
print(myStr[:])

Hello World

**Python Input**

In [22]:
val = input()
print("Value : " + val)

hello
Value : hello

In [23]:
x = input("Enter a value for x : ")
print("x : " + x)

Enter a value for x : 55
x : 55

In [30]:
x = float(input("Enter a value for x : "))
y = int(input("Enter a value for y : "))

print("x : ", x)
print("y : " , y)
print("x+ y : ", x + y)

Enter a value for x : 11
Enter a value for y : 12
x :  11.0
y :  12
x+ y :  23.0

eval() - function convert any type that you want

In [32]:
x = eval(input("Enter a value for x : "))
y = eval(input("Enter a value for y : "))

print("x : ", x)
print("y : " , y)
print("x+ y : ", x + y)

Enter a value for x : 12*7+23
Enter a value for y : 78+69*12
x :  107
y :  906
x+ y :  1013

In [34]:
myStr = "12*100*10"
print(eval(myStr))

12000